*{
    box-sizing: border-box;
    margin: 0;
}
body{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(22, 24, 31), rgb(23, 30, 34));
}
#wrapperleft{
    padding: 100px;
    width: 50%;
    float: left;
    color: silver;
}
#write{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}
#setTask{
    margin-left: 20px;
    background-color: silver;
    border: none;
    border-radius: 6%;
    width: 60px;
    height: 20px;
    cursor: pointer;
}
#setTask:hover {
    background-color: rgb(81, 96, 153);
}
#lista{
    margin-bottom: 30px;
    list-style-type: none;
}
li{
    margin-top: 10px;
}
#lista span{
    margin-left: 20px;
}
#trashSentence{
    margin-left: 10px;
}
a {
    cursor: pointer;
}
a:hover{
    color: rgb(81, 96, 153);
}
#wrapperright{
    float: right;
    width: 50%;
    padding: 100px;
    color: silver;
}


/* The switch - the box around the slider */
.switch {
    margin: 10px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: silver;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }